<% include ../layout/header.ejs %>
<div class="container">
    <div >
        <div class="list-workouts">
        <% for (var i = 0; i < workouts.length; i++) { %>
          <div class="card mt-2 p-2">
            <div class="card-header">
              <div class="title-header"><%=workouts[i].workoutName%></div>
            </div>
            <div class="title">Вправи:</div>
            <ul>
            <% for (var e = 0; e < workouts[i].exercises.length; e++) { %>
              <li> 
                <a href="/exercises/<%=workouts[i].exercises[e].id%>">
                   <%=workouts[i].exercises[e].exerciseName%>
                </a> 
                <span>
                  <%=workouts[i].exercises[e].weight%>кг./
                  <%=workouts[i].exercises[e].repeat%>р./
                  <%=workouts[i].exercises[e].sets%>п. 
                </span>
              </li>
              <% } %>
            </ul>
            <div class="rec">
              <div class="title">Зауваження до тренування:</div>
              <%=workouts[i].recommendations%>
            </div>
            <div class="card-footer text-right">
                <%= moment(workouts[i].createdAt).format('L'); %>р.
            </div>
          </div>
          <% } %>
        </div>
    </div>
</div>
<% include ../layout/footer.ejs %>

