<% include ../layout/header.ejs %>
<div class="container">
    <div >
        <div class="list-workouts">
        <% for (var i = 0; i < workouts.length; i++) { %>
          <div class="card mt-2 p-2">
            <div class="card-header">
              <h5><%=workouts[i].workoutName%></h5>
            </div>
            <h6>Вправи:</h6>
            <ul class="list-group list-group-flush">
            <% for (var e = 0; e < workouts[i].exercises.length; e++) { %>
              <li class="list-group-item"> 
                  <%=e +1%>.
                <a href="/exercises/<%=workouts[i].exercises[e].id%>">
                   <%=workouts[i].exercises[e].exerciseName%>
                </a> 
                <span>
                  <%=workouts[i].exercises[e].weight%>lb./
                  <%=workouts[i].exercises[e].repeat%>р./
                  <%=workouts[i].exercises[e].sets%>п. 
                </span>
              </li>
              <% } %>
            </ul>
            <div class="rec">
              <h6>Зауваження до тренування</h6>
              <%=workouts[i].recommendations%>
            </div>
            <div class="card-footer text-right">
                <%= moment(workouts[i].createdAt).format('L'); %>р.
            </div>
          </div>
          <% } %>
        </div>
    </div>
</div>
<% include ../layout/footer.ejs %>

